<html>
	<head>
		<title>Shubhang Desai's Blog</title>

		<link rel="stylesheet" type="text/css" href="/style.css">

		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700" rel="stylesheet">
	</head>
	<body>
    <div class="sidebar">
			<a class="image-link" href="/">
				<div class="image"></div>
			</a>
      <h1><a href="/blog/">Shubhang Desai's Blog</a></h1>
      <hr>
      <p>
        Hi, I'm Shubhang, and I am passionate about Machine Learning and CS Education. I'll be
        writing about some of my interests and projects on this blog.
      </p>
      <hr>
    </div>
      {{  content  }}
  </body>
</html>
